.main
{
    border: solid black 2px;
    width:fit-content;
}
.box
{
    height: 300px;
    width: 200px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    padding: 50px;
}
.box1
{
    background-color:blueviolet;
}
.box2
{
    background-color: maroon;
}
.box3
{
    background-color: aquamarine;
}