*{
    margin: 0;
    padding: 0;
}

.container
 {
    display: flex;
    height: 200px;
    border: 2px solid black;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

.item
{
    height: 50px;
    padding: 20px;
    width: 300px;
    border: 1px solid red;
    background-color:cadetblue;
}